
body{
margin: 0;
}
@media (max-width:1530px) {
   .container{
    display: none;
   }
   .container-small{
    display: flex;
    z-index: 1000;
   }
}
.container-small{
    z-index: 1;
    position: fixed;
    min-height: 100%;
    min-width: 100%;
    background: #333;
    align-items: center;
    justify-content: center;
    color: white;
}
.warning{
    display: flex;
    width: 400px;
    height: 400px;
font-family: "Poetsen One", sans-serif;
font-size: 60px;

transform: rotate(270deg);
justify-content: right;

}
.message{
    display: flex;
    width: 400px;
    height: 400px;
    font-size: 30px;
    
font-family: "Poetsen One", sans-serif;
}
:root{
    --green:#369c7a;
    --gray: #f0f0f0;
    --Dgray: #acacac;
}
 .container{
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    overflow: hidden;
    z-index: 10;
    background-color: white;
 }
 .form-container{
    height: 100%;
    width: 100%;
    position: absolute;
    
 }
 .signIn-SignUp{
    width: fit-content;
    z-index: 12;
    right: -60%;
    top : 40%;
    position: relative;
    display: grid;
    z-index: 11;
 }
 .SignIn{
    display: flex;
    width: fit-content;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    text-align: center;
    align-items: center;
    grid: 1/2;
 }
 .SignIn.clicked{
    display: none;
 }
 .title{
    justify-content: center;
    text-align: center;
    font-size: xx-large;
    font-family: "Poetsen One", sans-serif;
    font-weight: 500;
    font-style: normal;
 }
 .emailField,.passwordField ,.usernameField{
    background-color: var(--gray);
    padding: 20px;
    border-radius: 30px;
    font-size: 1.1rem;
    line-height: 1;
    font-weight: 600;
  

 }
 .email, .password, .username{
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: larger;
    color:  black;
    padding-left: 8px;
    width: 300px;
 }
 .icon{
    padding-left: 10px;
    color: #aaa;
 }
 .button{
    display: flex;
    justify-content: center;
    background-color: var(--green);
    padding: 15px;
    border-radius: 50px;
    border: 0;
    width: 140px;
    font-weight: 600;
    font-size: large;
    color: white;
    cursor: pointer;
    
 }
 .SignUp{
    display: none;
    width: fit-content;
    flex-direction: column;
    gap: 15px;
    justify-content: center;
    text-align: center;
    align-items: center;
    grid: 1/2;
 }
 .SignUp.clicked{
    display: flex;
    animation: right-to-left 1s ease-in-out forwards;
 }
 @keyframes right-to-left{
    100%{
        transform: translate(-200%);
    }
 }
 .panel{
    position: absolute;
    height: 100%;
    width: 100%;
    
   
 }
.extra{
    position: relative;
    
}
.left{
    position: relative;
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: fit-content;
    align-items: center;
    gap: 20px;
    z-index: 20;
    animation: start 1.2s ease-in-out forwards;
    margin-top: 10px;

}


@keyframes start{
    0%{
        transform: translate(-120%);
    }
}
.left.clicked{
    animation:  left-to-right 1.2s ease-in-out forwards;
}
@keyframes left-to-right {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-120%);
    }
}
.text{
    display: flex;
    align-items: center;
    text-align: center;
    font-family: "Poetsen One", sans-serif;
  font-weight: 100;
  font-style: normal;
}
.button-1{
    border-style: solid;
    border-color: white;
    background-color: #369c7a;
    border-radius: 50px;
    padding: 13px;
    width:130px;
    color: white;
    cursor: pointer;
    font-size: medium;
    
}
.img{
    height: 700px;
    width: 700px;
}

.right{
    position: relative;
    display: flex;
    width: fit-content;
    height: fit-content;
    align-items: center;
    gap: 20px;
    z-index: 21;
    flex-direction: column;
    left: 100%;
    top: -850px
}

@media(max-width:1850px){
    .right{
        top:-810px;
    }
   
    .img{
        height: 650px;
        width: 650px;
    }
    
    
}
#l-text{
    margin-left: 20px;
}
#r-text{
    margin-right: 20px;
}
@media (max-width:1600px) {
    .right{
        top:-790px;
    }
    .img{
        height: 600px;
        width: 600px;
    }
}
.right.clicked{
    display: flex;
    animation: right-move 0.9s ease-in-out forwards ;
}
.right.alternate{
    display: flex;
    animation: right-move-alternate  0.9s ease-in-out forwards;
}
@keyframes right-move {
    100%{
        transform: translate(-100%);
    }
}
@keyframes right-move-alternate {
    0% {
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0%);
    }
}

 .container:before{
    content: "";
    background-color: var(--green);
    height: 2000px;
    top: -10%;
    right: 48%;
    width: 2000px;
    border-radius: 50%;
    transform: translateY(-50%);
    position: absolute;
    z-index: 12; 
}
.container.clicked:before {
    animation: move 1.8s ease-in-out forwards; 
 
}
.container.alternate:before{
    animation: move-alternate 1.8s ease-in-out forwards;
}

@keyframes move{
    0%{
        transform: translateY(-50%);
    }
    100%{
        transform: translate(100%, -50%); 
    }
} 

@keyframes move-alternate{
    0%{
        transform: translate(100%,-50%);
    }
    100%{
        transform: translateY(-50%);
    }
}

.back-button{
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 60px;
    margin-right: 70px;
    font-size:large;
    font-family: "Poetsen One", sans-serif;
    font-weight: 500;
    font-style: normal;
    color: #0096FF;
    z-index: 22;
    cursor: pointer;
    padding: 12px;
}
.back-button:hover{
    background-color: var(--gray);
    color: black;
    border-radius: 5px;
    
}
.back-button.clicked{
    background-color: var(--gray);
    color: black;
    border-radius: 5px;
}


/*responsive design for different window sizes*/

